@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            localStorage.clear();
        })
    </script>
    <script src="/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="/libs/apex-chats/apexcharts.js"></script>
    <script src="/js/Pages/FirmaDetail.js"></script>
}